# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject
*.DS_Store
fred_api_key.txt
catalogo-sspm.xlsx
excels_urls.txt
~$catalogo-sspm.xlsx
actividad_ied.xlsx
etl_params.csv
data.json
catalogo/datos/catalogos
catalogo/datos/ied
catalogo/datos/reportes
catalogo/datos/datasets
config_ind.yaml
catalogo-sspm-downloaded.xlsx
catalogo_sspm_url.txt
config_email.yaml
profiling_test.png
catalogo/datos/datasets_test
generate-catalog-errors.txt
catalogo/datos/dumps
catalogo/datos/series
ca.pem
config_webdav.yaml
ca_webdav.pem
reporte-field-title-too-long.xlsx
reporte-invalid-field-titles.xlsx
datasets_ind.zip
catalogo/datos/datasets_ind
series.zip
datasets.zip
